*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", arial, helvetica, sans-serif;
}

body {
  background: #b0e0e6;
}

.title {
  font-size: 35px;
}

.align-right {
  text-align: right;
}

.images-right {
  float: right;
  display: grid;
  grid: auto;

  margin-right: 24px;
}

.img-2 {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }

  .quote {
    font-size: 10px;
  }

  .images-right {
    display: none;
  }
}
